body{
    background-color: #804526;
}

body{
    color: white;
}
.card{
    background-color: #36241a;
}

h1{
    font-family: 'Bebas Neue';
    text-align: center;
    font-size: 60px;
}

h2{
    font-family: 'Bebas Neue';
    text-align: justify;  
}
h3{
    font-family: 'Bebas Neue';
    text-align: justify;  
}
h4{
    font-family: 'Bebas Neue';
    text-align: justify;  
}
h5{
    font-family: 'Bebas Neue';
    text-align: justify; 
}
p{
    text-align: justify; 
}

iframe{
    width: 100%;
}

a{
    text-decoration: none;
    color: white
    ;
}

// ul{
//     list-style-type: none;
// }

ul{
list-style: none;
    li{
        padding: 15px;
        display: inline-block;
        color: white;
    }
}

.card{
padding: 15px;
    h1{
        font-size: 50px;
        font-family: 'Bebas Neue';
        color: #804526;
        background-color: white;
    }
}
